<!-- Start #info-shiro -->

<div class="works-info" id="info-shiro">
  <div class="works-info-wrapper">
    <div class="works-info-content-wrapper">
      <div class="works-info-content">
        <p>I am working on this theme.</p>
        <p>I am pretty sure there is gonna be a pure hell of white.</p>
        <div class="works-copyright">
          <p>Designed and coded by <a href="http://rakugaki.me">Art Chen</a>.</p>
          <p>In progress...</p>
        </div>
      </div>
    </div>
    <div class="close-info-window" data-info="shiro" ng-click="closeInfoWindow()">
      <span class="icon-cross"></span>
      <span>Close</span>
    </div>
  </div>
</div>

<!-- End #info-shiro -->
